---
layout: archive
---

{{ content }}


<div class="custom-footer" style="margin-top: 4rem;">
  <span style="margin:0 1rem;">
    <a href="https://github.com/nyyshaaa" style="text-decoration:none; color: #ff7f50;">GitHub</a>
  </span>
  <span style="margin:0 1rem;">
    <a href="https://medium.com/@niishaaaa" style="text-decoration:none; color: #ff7f50;">Medium</a>
  </span>
</div>



<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% include documents-collection.html entries=posts type=entries_layout %}
</div>

{% include paginator.html %} -->
